## 2022거주_지역의_주거환경_만족도

In [1]:
import pandas as pd

df = pd.read_csv('2022주거환경_만족도.csv', encoding='euc-kr')
df

,특성별,Unnamed: 1,생활 인프라,대중교통 이용,치안 및 범죄 등 방범 상태,위생 환경,녹지 공간,문화/ 부대시설,교육 환경,이웃과의 관계
0,전체,소계,3.89,3.83,3.96,3.87,3.91,3.60,3.69,3.57
1,성별,남자,3.85,3.81,3.97,3.86,3.90,3.58,3.67,3.56
2,성별,여자,3.93,3.84,3.95,3.88,3.93,3.62,3.71,3.59
3,연령별,만19세-24세,3.93,3.91,4.01,3.91,3.95,3.68,3.78,3.63
4,연령별,만25세-29세,3.89,3.85,3.97,3.88,3.90,3.60,3.70,3.55
5,연령별,만30세-34세,3.83,3.71,3.89,3.82,3.88,3.52,3.57,3.52
6,지역구분별,수도권,3.95,3.92,4.01,3.89,3.95,3.66,3.72,3.57
7,지역구분별,비수도권,3.81,3.72,3.89,3.84,3.87,3.53,3.65,3.58
8,지역별,서울,4.07,4.18,4.00,3.84,3.86,3.69,3.78,3.54
9,지역별,부산,4.10,4.09,4.10,4.11,3.95,3.80,3.81,3.67
10,지역별,대구,3.98,4.04,3.99,3.94,4.09,3.67,3.74,3.60
11,지역별,인천,3.97,3.88,4.06,3.92,3.94,3.70,3.75,3.64
12,지역별,광주,3.84,3.78,3.83,3.72,3.79,3.53,3.66,3.59
13,지역별,대전,3.89,3.87,3.90,3.67,3.95,3.77,3.78,3.69
14,지역별,울산,3.55,3.43,3.79,3.76,3.83,3.32,3.53,3.58
15,지역별,세종,3.58,3.54,3.73,3.77,3.76,3.42,3.53,3.41
16,지역별,경기,3.87,3.73,4.01,3.93,4.03,3.63,3.67,3.57
17,지역별,강원,3.69,3.42,3.85,3.88,3.98,3.41,3.60,3.57
18,지역별,충북,3.80,3.66,3.93,3.86,3.69,3.52,3.64,3.38
19,지역별,충남,3.65,3.43,3.81,3.80,3.74,3.42,3.52,3.58
20,지역별,전북,3.99,3.77,3.98,3.87,3.95,3.67,3.82,3.64
21,지역별,전남,3.63,3.64,3.79,3.68,3.85,3.34,3.59,3.57
22,지역별,경북,3.45,3.25,3.64,3.60,3.65,3.19,3.31,3.46
23,지역별,경남,3.79,3.73,3.91,3.91,3.88,3.46,3.60,3.55
24,지역별,제주,4.00,3.95,3.92,3.96,3.89,3.46,3.84,3.62
25,학력별,고졸 이하,3.68,3.66,3.78,3.69,3.74,3.42,3.52,3.45
26,학력별,대학 재학·휴학,3.98,3.92,4.05,3.93,3.98,3.72,3.83,3.67
27,학력별,대학 졸업 이상,3.90,3.83,3.96,3.89,3.93,3.60,3.68,3.56

In [2]:
# data type 확인
df.info(), df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   특성별              28 non-null     object
 1   Unnamed: 1       28 non-null     object
 2   생활 인프라           28 non-null     float64
 3   대중교통 이용          28 non-null     float64
 4   치안 및 범죄 등 방범 상태  28 non-null     float64
 5   위생 환경            28 non-null     float64
 6   녹지 공간            28 non-null     float64
 7   문화/ 부대시설         28 non-null     float64
 8   교육 환경            28 non-null     float64
 9   이웃과의 관계          28 non-null     float64
dtypes: float64(8), object(2)
memory usage: 2.3+ KB

(None,
 Index(['특성별', 'Unnamed: 1', '생활 인프라', '대중교통 이용', '치안 및 범죄 등 방범 상태', '위생 환경',
        '녹지 공간', '문화/ 부대시설', '교육 환경', '이웃과의 관계'],
       dtype='object'))

In [3]:
# 데이터의 컬럼 이름의 앞뒤 공백 제거
df.columns = df.columns.str.strip()

# 불필요한 컬럼 제거, 변경
df.drop(['특성별'], axis=1, inplace=True)

df_area = ['수도권', '비수도권', '서울', '부산', '대구', '인천', '광주', '대전', '울산', 
          '세종', '경기', '강원', '충북', '충남', '전북', '전남', 
          '경북', '경남', '제주']

# Unnamed: 1 컬럼에 지역명 제외하고 가져옴
df_filter = df[df['Unnamed: 1'].isin(df_area)]

# Unnamed: 1 컬럼명 변경 -> 지역별
df_filter.rename(columns={'Unnamed: 1' : '지역별'}, inplace=True)

# 인덱스 리셋
df_filter = df_filter.reset_index()
# 'index' 컬럼 삭제
df_filter.drop('index', axis=1, inplace=True)
df_filter

/var/folders/0s/8dffxjb55g767y_3df067w080000gn/T/ipykernel_11457/2878277298.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filter.rename(columns={'Unnamed: 1' : '지역별'}, inplace=True)

,지역별,생활 인프라,대중교통 이용,치안 및 범죄 등 방범 상태,위생 환경,녹지 공간,문화/ 부대시설,교육 환경,이웃과의 관계
0,수도권,3.95,3.92,4.01,3.89,3.95,3.66,3.72,3.57
1,비수도권,3.81,3.72,3.89,3.84,3.87,3.53,3.65,3.58
2,서울,4.07,4.18,4.00,3.84,3.86,3.69,3.78,3.54
3,부산,4.10,4.09,4.10,4.11,3.95,3.80,3.81,3.67
4,대구,3.98,4.04,3.99,3.94,4.09,3.67,3.74,3.60
5,인천,3.97,3.88,4.06,3.92,3.94,3.70,3.75,3.64
6,광주,3.84,3.78,3.83,3.72,3.79,3.53,3.66,3.59
7,대전,3.89,3.87,3.90,3.67,3.95,3.77,3.78,3.69
8,울산,3.55,3.43,3.79,3.76,3.83,3.32,3.53,3.58
9,세종,3.58,3.54,3.73,3.77,3.76,3.42,3.53,3.41
10,경기,3.87,3.73,4.01,3.93,4.03,3.63,3.67,3.57
11,강원,3.69,3.42,3.85,3.88,3.98,3.41,3.60,3.57
12,충북,3.80,3.66,3.93,3.86,3.69,3.52,3.64,3.38
13,충남,3.65,3.43,3.81,3.80,3.74,3.42,3.52,3.58
14,전북,3.99,3.77,3.98,3.87,3.95,3.67,3.82,3.64
15,전남,3.63,3.64,3.79,3.68,3.85,3.34,3.59,3.57
16,경북,3.45,3.25,3.64,3.60,3.65,3.19,3.31,3.46
17,경남,3.79,3.73,3.91,3.91,3.88,3.46,3.60,3.55
18,제주,4.00,3.95,3.92,3.96,3.89,3.46,3.84,3.62

In [4]:
# 지역별 치안 및 범죄 등 방범 상태 만족도가 높은 순으로 내림차순
df_filter.sort_values(by=['치안 및 범죄 등 방범 상태'], ascending=False)

,지역별,생활 인프라,대중교통 이용,치안 및 범죄 등 방범 상태,위생 환경,녹지 공간,문화/ 부대시설,교육 환경,이웃과의 관계
3,부산,4.10,4.09,4.10,4.11,3.95,3.80,3.81,3.67
5,인천,3.97,3.88,4.06,3.92,3.94,3.70,3.75,3.64
0,수도권,3.95,3.92,4.01,3.89,3.95,3.66,3.72,3.57
10,경기,3.87,3.73,4.01,3.93,4.03,3.63,3.67,3.57
2,서울,4.07,4.18,4.00,3.84,3.86,3.69,3.78,3.54
4,대구,3.98,4.04,3.99,3.94,4.09,3.67,3.74,3.60
14,전북,3.99,3.77,3.98,3.87,3.95,3.67,3.82,3.64
12,충북,3.80,3.66,3.93,3.86,3.69,3.52,3.64,3.38
18,제주,4.00,3.95,3.92,3.96,3.89,3.46,3.84,3.62
17,경남,3.79,3.73,3.91,3.91,3.88,3.46,3.60,3.55
7,대전,3.89,3.87,3.90,3.67,3.95,3.77,3.78,3.69
1,비수도권,3.81,3.72,3.89,3.84,3.87,3.53,3.65,3.58
11,강원,3.69,3.42,3.85,3.88,3.98,3.41,3.60,3.57
6,광주,3.84,3.78,3.83,3.72,3.79,3.53,3.66,3.59
13,충남,3.65,3.43,3.81,3.80,3.74,3.42,3.52,3.58
8,울산,3.55,3.43,3.79,3.76,3.83,3.32,3.53,3.58
15,전남,3.63,3.64,3.79,3.68,3.85,3.34,3.59,3.57
9,세종,3.58,3.54,3.73,3.77,3.76,3.42,3.53,3.41
16,경북,3.45,3.25,3.64,3.60,3.65,3.19,3.31,3.46

## 두 데이터프레임 merge 하기전 같은 방향으로 변환

In [5]:
df = pd.read_csv('[수정 전]2022지역별 범죄발생 data.csv', encoding='euc-kr')
df.head()

,Unnamed: 0,범죄 대분류,범죄 유형,죄명,서울,부산,대구,인천,광주,대전,...,경기,강원,충북,충남,전북,전남,경북,경남,제주,합계
0,0,형법범 (건),재산범죄,절도,37697,13808,9805,8900,5247,6070,...,41573,4636,5758,7663,5652,6202,10455,13285,3133,182720
1,1,형법범 (건),재산범죄,장물,51,30,13,25,4,8,...,62,5,9,11,4,6,8,13,4,256
2,2,형법범 (건),재산범죄,사기,58894,27903,15335,17912,8746,12188,...,79005,9430,10767,14285,12735,10265,16310,24925,6109,329358
3,3,형법범 (건),재산범죄,횡령,17141,4625,2702,4280,1738,1524,...,15801,1203,1273,1833,1264,1295,2106,3059,868,61354
4,4,형법범 (건),재산범죄,배임,1140,311,170,213,131,135,...,993,107,93,194,117,142,170,273,70,4344

In [6]:
# 2022지역별 범죄발생 data를 세로로 돌리기
data = ['서울', '부산', '대구', '인천', '광주', '대전', '울산', '세종', '경기', '강원', '충북', '충남', '전북', '전남', '경북', '경남', '제주']
df_crime = df.melt(id_vars=[col for col in df.columns if col not in data], var_name='지역명')

# '지역명' 컬럼을 추출하고 원래 데이터프레임에서 제거
df_area = df_crime.pop('지역명')

# '지역명' 컬럼을 데이터프레임의 맨 오른쪽으로 추가
df_crime.insert(0, '지역명', df_area)
df_crime.head(10)

  지역명  Unnamed: 0   범죄 대분류     범죄 유형   죄명      합계  value
0  서울           0  형법범 (건)      재산범죄   절도  182720  37697
1  서울           1  형법범 (건)      재산범죄   장물     256     51
2  서울           2  형법범 (건)      재산범죄   사기  329358  58894
3  서울           3  형법범 (건)      재산범죄   횡령   61354  17141
4  서울           4  형법범 (건)      재산범죄   배임    4344   1140
5  서울           5  형법범 (건)      재산범죄   손괴   56832  10323
6  서울           6  형법범 (건)  강력범죄(흉악)   살인     738    114
7  서울           7  형법범 (건)  강력범죄(흉악)   강도     532    120
8  서울           8  형법범 (건)  강력범죄(흉악)   방화    1224    212
9  서울           9  형법범 (건)  강력범죄(흉악)  성폭력   41433  10600

In [7]:
# 데이터의 컬럼 이름의 앞뒤 공백 제거
df_crime.columns = df_crime.columns.str.strip()

In [8]:
df_crime.columns

Index(['지역명', 'Unnamed: 0', '범죄 대분류', '범죄 유형', '죄명', '합계', 'value'], dtype='object')

In [9]:
# 'value' 컬럼 삭제
df_crime.drop(['value'], axis=1, inplace=True)
# Unnamed: 0 컬럼 삭제
df_crime.drop(['Unnamed: 0'], axis=1, inplace=True)
# 범죄 대분류 삭제(생각해보니 굳이 필요 없을 거 같음)
df_crime.drop(['범죄 대분류'], axis=1, inplace=True)
# 지역명 컬럼 지역별 컬럼으로 변환
df_crime.rename(columns={'지역명' : '지역별'}, inplace=True)
# 합계 컬럼을 건수 컬럼으로 변환
df_crime.rename(columns={'합계' : '범죄건수'}, inplace=True)
df_crime

    지역별   범죄 유형           죄명    범죄건수
0    서울    재산범죄           절도  182720
1    서울    재산범죄           장물     256
2    서울    재산범죄           사기  329358
3    서울    재산범죄           횡령   61354
4    서울    재산범죄           배임    4344
..   ..     ...          ...     ...
811  제주  기타형법범죄     공안을 해하는죄     222
812  제주  기타형법범죄         내란의죄      14
813  제주  기타형법범죄     음용수에 관한죄      31
814  제주  기타형법범죄  일수와 수리에 관한죄      13
815  제주  기타형법범죄           기타      14

[816 rows x 4 columns]

In [10]:
# 저장
df_crime.to_csv('2022지역별_범죄발생 data.csv', encoding='euc-kr')

## 데이터 프레임 merge

In [11]:
# 두 데이터프레임을 '지역별' 컬럼을 기준으로 합치기
df = pd.merge(df_filter, df_crime, on='지역별', how='inner')
df.head()

,지역별,생활 인프라,대중교통 이용,치안 및 범죄 등 방범 상태,위생 환경,녹지 공간,문화/ 부대시설,교육 환경,이웃과의 관계,범죄 유형,죄명,범죄건수
0,서울,4.07,4.18,4.0,3.84,3.86,3.69,3.78,3.54,재산범죄,절도,182720
1,서울,4.07,4.18,4.0,3.84,3.86,3.69,3.78,3.54,재산범죄,장물,256
2,서울,4.07,4.18,4.0,3.84,3.86,3.69,3.78,3.54,재산범죄,사기,329358
3,서울,4.07,4.18,4.0,3.84,3.86,3.69,3.78,3.54,재산범죄,횡령,61354
4,서울,4.07,4.18,4.0,3.84,3.86,3.69,3.78,3.54,재산범죄,배임,4344

In [12]:
# 컬럼 리스트를 생성
item = list(df.columns)

# '지역별' 컬럼의 인덱스를 찾음
index = item.index('지역별')

# '범죄 유형', '죄명', '합계' 컬럼을 지역별 오른쪽으로 이동
# 지역별 바로 다음 위치로 이동시키기 위해 index+1 위치로 각 컬럼을 삽입
for col in ['범죄 유형', '죄명', '범죄건수']:
    item.remove(col)  # 먼저 해당 컬럼을 리스트에서 제거
    item.insert(index + 1, col)  # 지역별 다음 위치에 삽입
    index += 1  # 다음 컬럼을 위해 인덱스 증가

# 데이터프레임의 컬럼 순서를 조정한 리스트로 재배열
df = df[item]
df.head()

,지역별,범죄 유형,죄명,범죄건수,생활 인프라,대중교통 이용,치안 및 범죄 등 방범 상태,위생 환경,녹지 공간,문화/ 부대시설,교육 환경,이웃과의 관계
0,서울,재산범죄,절도,182720,4.07,4.18,4.0,3.84,3.86,3.69,3.78,3.54
1,서울,재산범죄,장물,256,4.07,4.18,4.0,3.84,3.86,3.69,3.78,3.54
2,서울,재산범죄,사기,329358,4.07,4.18,4.0,3.84,3.86,3.69,3.78,3.54
3,서울,재산범죄,횡령,61354,4.07,4.18,4.0,3.84,3.86,3.69,3.78,3.54
4,서울,재산범죄,배임,4344,4.07,4.18,4.0,3.84,3.86,3.69,3.78,3.54

In [13]:
# 합친 데이터 프레임 저장
df.to_csv('2022지역별 범죄발생 및 주거환경 만족도.csv', encoding='euc-kr')